#login-form {
	margin: auto;
	background-color: #474747;
	width: 30vw;
	
	border-width: 3px;
	border-style: solid;
	border-radius: 10px;
	border-color: #fff;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-username {
	color: #ffffff;
	font-size: 2.2rem;
}

#login-userFace {
	width:20vw;
	border-radius: 100%;
	margin: 10px;
}

#login-password {
	width: 25vw;
	background-color: #474747;
	color: #ffffff;
	border-color: #ffffff;
	border-width: 0px 0px 2px 0px;
	font-size: 1em;
	border-style: solid;
	margin: 5px;
	padding: 5px;
	tab-index: 1;
}

#login-password:focus {
	outline: none;
	border-color: #ffb500;
}

#login-session {
	width: 25vw;
	background-color: #474747;
	color: #ffffff;
	border-color: #ffffff;
	border-width: 0px 0px 2px 0px;
	font-size: 1em;
	border-style: solid;
	margin: 5px;
	padding: 5px;
	tab-index: 2;
	cursor: pointer;
}

#login-submit-button {
	width: 25vw;
	background-color: #474747;
	border-style: solid;
	font-size: 1em;
	border-width: 2px;
	color: #ffffff;
	border-color: #ffffff;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}