* {
	padding: 0px;
	margin: 0px;
}

#bg {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}

#form {
	margin: auto;
	background-color: #474747;
	width: 30vw;
	
	border-width: 3px;
	border-style: solid;
	border-radius: 10px;
	border-color: #fff;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

#username {
	color: #ffffff;
	font-size: 2.2rem;
}

#userFace {
	width:20vw;
	border-radius: 100%;
}

#password {
	width: 25vw;
	background-color: #474747;
	color: #ffffff;
	border-color: #ffffff;
	border-width: 0px 0px 2px 0px;
	font-size: 1em;
	border-style: solid;
	margin: 5px;
	padding: 5px;
	tab-index: 1;
}

#password:focus {
	outline: none;
	border-color: #ffb500;
}

#session {
	width: 25vw;
	background-color: #474747;
	color: #ffffff;
	border-color: #ffffff;
	border-width: 0px 0px 2px 0px;
	font-size: 1em;
	border-style: solid;
	margin: 5px;
	padding: 5px;
	tab-index: 1;
}